div.media_detail{
    div.news_box2{
        width: 100%;
        background-color: #edeff3;
        text-align: center;
        padding-bottom:60px;
        .news_title{
            width:80%;
            margin:0 auto;
            text-align: left;
            height: 60px;
            line-height: 60px;
            .middleIcon{
                margin:0 2px;
                color: #999;
            }
            .navTitle{
                color:#888888;
                font-size: 14px;
                &:hover{
                    color:#23B5FB;
                    cursor: pointer;
                }
            }
            .news_con{
                color: #333;
                font-size: 14px;
            }
        }
        >div.mews_content{
            width: 80%;
            padding: 50px 120px;
            overflow: hidden;
            text-align: left;
            margin: 0 auto;
            line-height: 25px;
            background: #fff;
           h1.title {
                font-weight: bold;
                font-size: 35px;
                line-height: 48px;
                color: #333333;
                padding: 0px 0 40px 0;
                text-align: center;
                margin: 0 0.67em 0;
            }
            img{
                max-width: 1080px!important;
            }
            p.small-title{
                font-size: 16px;
                color: #666;
                text-align: center;
                padding-bottom: 30px;
                .news-type{
                    margin-right: 30px;
                    position: relative;
                    &::after {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 100%;
                        background-color: #D2D2D2;
                        position: absolute;
                        right: -15px;
                        top: 0;
                    }
                }
                
            }
            div.news-text{
                font-size: 16px;
                margin-bottom: 60px;
                font-weight: normal;
                 p {
                    text-indent: 2em;
                    line-height: 28px;
                    margin-bottom: 20px;
                    text-align: left;
                    position: relative;
                 }
                 img{
                    object-fit: cover;
                    position: relative;
                    max-width: 67%;
                 }
            }

        }
    }


    div.news_box3{
        width: 100%;
        height: 60px;
        background-color: #1e1e1e;
        font-size: 19px;
        line-height: 60px;
        color: #23B5FB;
        display: flex;
        justify-content: space-between;
        align-items: center;

        >div{
            height: 100%;
            display: flex;
            align-items: center;
            padding: 0 31px;
            cursor: pointer;
            .newNext{
                color:#23B5FB;
                font-size:30px;
            }
        }
        img{
            height: 30px;
            width: 19px;
        }
        img.rotate {
            transform: rotate(180deg);
        }
        span{
            padding: 0 22px;
        }
    }
}

