.content {
  * {
    box-sizing: border-box;
  }

  .head,
  .foot,
  .body-foot {
    width: 100%;
  }

  .head {
    a {
      display: block;
      width: 100%;
      height: 540px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .foot {
    img {
      display: block;
      height: 100%;
    }

    //margin-bottom: -4px;
  }

  a {
    text-decoration: none;
  }

  .one {
    position: absolute;
  }

  // .box {
  //   width: 455px;
  //   text-align: left;
  //   color: #333333;
  // }
  //ul {
  //  width: 455px;
  //  margin-top: 31px;
  //  margin-bottom: 40px;
  //  font-size: 16px;
  //  text-align: left;
  //  line-height: 24px;
  //  color: #ffffff;
  //}

  .link {
    width: 128px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    border-radius: 20px;
    background-color: #ffffff;
    text-align: center;

    a {
      display: inline-block;
      width: 100%;
      height: 100%;
      border-radius: 20px;
      color: #333333;
    }
  }

  .link-body {
    background-color: #23b8ff;
    margin-top: 50px;

    a {
      color: #ffffff;
    }
  }

  .body {
    font-size: 42px;
    color: #333333;
    //line-height: 58px;
    text-align: center;
    padding-top: 90px;

    .body-head {
      width: 1280px;
      margin: 0 auto;
      @media screen and (min-width: 1920px) {
        width: 1520px;
      }
      .text {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 68px;
      }
    }

    //.text {
    //  text-align: center;
    //  margin: 78px 0 68px 0;
    //}



    .banner {
      //position: relative;

      height: 628px;
      margin-bottom: 80px;
      //margin: 22px 0 161px 0;
      //background-image: url(../../../assets/images/solve/box1.png);
      //background-size: cover;

      //.one {
      //  width: 679px;
      //  height: 375px;
      //  left: 56px;
      //  top: 48px;
      //
      //  img {
      //    width: 100%;
      //    height: 100%;
      //  }
      //}
      &::v-deep {
        .el-carousel__container {
          //width: 1520px;
          height: 628px;
          //margin: 0 auto;
        }
        .el-carousel__button {
          width: 86px;
          height: 3px;
        }

        .el-carousel__item:nth-of-type(2) {
          .top {
            flex-direction: row-reverse;
            .left {
              margin-left: 30px;
              margin-right: 0 !important;
              @media screen and (min-width: 1920px){
                margin-left: 170px !important;
              }
            }
          }
        }
        //.el-carousel__arrow--left {
        //  left: -80px;
        //}
        //.el-carousel__arrow--right {
        //  right: -80px;
        //}
        .el-carousel__arrow--left,
        .el-carousel__arrow--right{
          background: rgba(31,45,61,.23);
          color: #fff;
          font-weight: bold;
          &:hover {
            background-color: rgba(31,45,61,.45);
          }
        }
      }

      .box {
        //text-align: left;
        width: 100%;
        height: 628px;
        position: relative;


        .bg {
          width: 100%;
          height: 628px;
          object-fit: fill;
        }

        .content {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          padding: 60px;

          .top {
            display: flex;

            .left {
              width: 50%;
              height: 328px;
              object-fit: fill;
              margin-right: 30px;
              @media screen and (min-width: 1920px) {
                width: 675px;
                height: 379px;
                margin-right: 120px;
              }
            }

            .desc {
              text-align: left;

              img {
                height: 60px;
                margin-bottom: 0;
                @media screen and (min-width: 1920px) {
                  margin-bottom: 20px;
                }
              }

              h5 {
                font-size: 20px;
                line-height: 20px;
                color: #fff;
                font-weight: normal;
                margin-bottom: 20px;
                @media screen and (min-width: 1920px) {
                  margin-bottom: 32px;
                }
              }

              .text {
                width: 553px;
                min-height: 130px;
                color: #fff;
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 20px;
                @media screen and (min-width: 1920px) {
                  margin-bottom: 36px;
                }
                p {
                  margin-bottom: 20px;
                }
              }
              button {
                display: block;
                width: 128px;
                height: 40px;
                background: #FFFFFF;
                border-radius: 20px;
                font-size: 16px;
                color: #333;
                margin-bottom: 22px;
                font-family: "Source Han Sans CN";
              }
              .tab {
                display: flex;
                span {
                  margin-right: 32px;
                  font-size: 16px;
                  line-height: 16px;
                  color: #fff;
                  opacity: 0.5;
                  padding-bottom: 12px;
                  cursor: pointer;
                  &.active {
                    opacity: 1;
                    border-bottom: 2px solid #fff;
                  }
                }
              }
            }
          }

          .bottom {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-top: 50px;
            font-size: 16px;
            text-align: left;
            line-height: 24px;
            color: #ffffff;
            p {
              font-size: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              span {
                &.num {
                  font-size: 36px;
                  line-height: 36px;
                }
                &.unit {
                  font-size: 20px;
                  line-height: 20px;
                  margin-top: 10px;
                }
              }
              &.name {
                line-height: 16px;
                margin-top: 22px;
                opacity: 0.6;
                text-align: center;
              }
            }
          }
        }
      }

      .head-box-one {
        ul {
          li {
            &.title {
              font-size: 20px;
              margin-bottom: 30px;
            }
          }
        }
      }

      .tip {
        margin-top: 36px;
        margin-left: 56px;
        display: flex;

        .tipContent {
          background-color: rgba(#ffffff, 0.1);
          width: 260px;
          height: 120px;
          margin-right: 27px;

          .tipTop {
            font-size: 36px;
            line-height: 28px;
            text-align: center;
            margin: 28px 0 16px 0;
            color: #ffffff;
          }

          .tipBottom {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #ffffff;
            opacity: 0.6;
          }
        }
      }

      .twoTip {
        position: absolute;
        left: 56px;
        top: 464px;
        display: flex;

        .tipContent {
          background-color: rgba(#ffffff, 0.1);
          width: 260px;
          height: 120px;
          margin-right: 27px;

          .tipTop {
            font-size: 36px;
            line-height: 28px;
            text-align: center;
            margin: 28px 0 16px 0;
            color: #ffffff;
          }

          .tipBottom {
            font-size: 16px;
            line-height: 28px;
            text-align: center;
            color: #ffffff;
            opacity: 0.6;
          }
        }
      }

      .view {
        position: absolute;
        left: 789px;
        top: 48px;
        width: 675px;
        overflow: hidden;

        .move {
          width: 675px;
          height: 379px;
          display: flex;

          img {
            width: 100%;
            margin-right: 20px;
          }
        }
      }

      .btnLink {
        position: absolute;
        left: 68px;
        top: 294px;
      }

      .btn {
        margin-top: 30px;
        position: absolute;
        left: 68px;
        top: 360px;
        display: flex;

        .btnLeft {
          line-height: 18px;
          cursor: pointer;
        }

        .btnRight {
          line-height: 18px;
          cursor: pointer;
        }

        .btnTitle {
          font-size: 16px;
          color: #ffffff;
          line-height: 0;
          text-align: center;
        }

        button {
          margin: 10px;
          margin-top: 0;
          width: 56px;
          height: 3px;
          background-color: #333333;

          &.on {
            background-color: #cccccc;
          }
        }
      }
    }
    .banner2 {
      &::v-deep {
        .el-carousel__item:nth-of-type(1) {
          .top {
            flex-direction: row-reverse;
            .left {
              margin-left: 30px;
              margin-right: 0 !important;
              @media screen and (min-width: 1920px){
                margin-left: 173px !important;
              }
            }
          }
        }
        .el-carousel__item:nth-of-type(2) {
          .top {
            flex-direction: inherit !important;
            .left {
              margin-left: 0 !important;
              margin-right: 30px !important;
              @media screen and (min-width: 1920px){
                margin-right: 120px !important;
              }
            }
            .desc {
              .text {
                width: 528px;
                min-height: 80px;
              }
              button {
                margin-bottom: 45px;
              }
            }
          }
        }
      }
    }
    .two {
      background-image: url(../../../assets/images/solve/box2.png);

      .boxTwo {
        height: 632px;
        margin: 0 0 0 68px;
        padding-top: 68px;

        .boxTwoImg {
          display: flex;

          img {
            width: 92px;
            height: 48px;
            margin-right: 31px;
          }

          .boxTwoTitle {
            font-size: 24px;
            color: #ffffff;
          }
        }
      }
    }

    .body-foot {
      max-width: 1920px;
      margin: 0 auto;
      padding: 0 0 120px 0;
      background-color: #f2f8ff;

      .foot-text {
        padding: 89px 0 0 0;
      }

      .box {
        margin: 68px auto 0;
        background-color: #fff;
        width: 1280px;
        // height: 475px;
        padding: 48px 56px;
        display: flex;
        @media screen and (min-width: 1920px){
          width: 1520px;
        }

        .length-img {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          // border: 1px solid red;
          .img-three {
            max-width: 550px;
            @media screen and (min-width: 1920px) {
              max-width: 675px;
            }
            // max-height: 100%;
          }
        }

        .len-content {
          margin-left: 120px;
          flex: 1;
          box-sizing: border-box;

          ul {
            width: 100%;
            // height: 100%;
          }

          .liTitle {
            font-size: 32px;
            font-family: "Source Han Sans CN";
            font-weight: 400;
            color: #333333;
            margin-bottom: 34px;
            text-align: left;
          }

          li {
            color: #333333;
            font-size: 16px;
          }

          .liContext {
            text-align: justify;
            white-space: pre-wrap;

            code {
              font-size: 16px;
              font-family: Source Han Sans CN;
              font-weight: 400;
              color: #333333;
              line-height: 26px;
            }
          }

          .length-img-right {
            margin-left: 120px;
            margin-right: 0;
          }
        }
      }

      .box:nth-child(odd) {
        flex-direction: row-reverse;

        .length-img {
          margin-left: 120px;
        }

        .len-content {
          margin-left: 0;
        }
      }

      .box-two {
        position: relative;
        padding: 48px 56px 48px 68px;

        .len-content-two {
          margin-left: 0;

          .liTitle {
            font-size: 32px;
            margin-bottom: 34px;
          }

          li {
            color: #333333;
            font-size: 16px;
          }
        }

        .length-img-right {
          position: absolute;
          right: 56px;
        }
      }

      // .box {
      //   display: flex;
      //   text-align: left;
      //   //justify-content: flex-end;
      //   .left-img {
      //     width: 875px;
      //     height: 478px;
      //     z-index: 100;
      //   }
      //   .right-img {
      //     width: 875px;
      //     height: 478px;
      //     z-index: 100;
      //   }
      //   .length-img img {
      //     width: 675px;
      //     height: 379px;
      //     z-index: 100;
      //   }
      //   .length-img-two img {
      //     width: 675px;
      //     height: 379px;
      //     z-index: 100;
      //   }
      //   .img-two {
      //     margin-top: -68px;
      //     margin-left: -90px;
      //   }
      //   .img-three {
      //     margin-top: -158px;
      //     margin-left: -120px;
      //   }
      //   .img-four {
      //     margin-top: -68px;
      //     margin-left: -90px;
      //   }
      //   .img-six {
      //     margin-top: -170px;
      //     margin-right: 36px;
      //   }

      //   .right-content {
      //     margin-bottom: 117px;
      //     padding: 118px 147px 0 158px;
      //     margin-top: -70px;
      //     margin-left: -90px;
      //     background-color: #ffffff;
      //     li {
      //       color: #333333;
      //     }
      //   }
      //   .left-content {
      //     padding: 68px 147px 117px 68px;
      //     background-color: #ffffff;
      //     li {
      //       color: #333333;
      //     }
      //   }
      //   .left-content-four {
      //     padding: 118px 217px 117px 68px;
      //   }
      //   .right-content-five {
      //     padding: 70px 142px 74px 158px;
      //   }
      //   .length-content {
      //     display: flex;
      //     margin: 118px 147px 117px 158px;
      //     background-color: #ffffff;
      //     li {
      //       color: #333333;
      //     }
      //     .len-content {
      //       margin-left: 68px;
      //     }
      //   }
      //   .length-content-two {
      //     display: flex;
      //     padding: 60px 0px 53px 68px;
      //     background-color: #ffffff;
      //     li {
      //       color: #333333;
      //     }
      //     .len-content-two {
      //       margin-right: 147px;
      //     }
      //   }
      // }
      // .box-one {
      //   padding: 138px 200px 0 200px;
      // }
      // .box-two {
      //   padding: 246px 200px 0 200px;
      // }
      // .box-three {
      //   margin: 200px 200px 0 200px;
      //   background-color: #ffffff;
      // }
      // .box-four {
      //   padding: 178px 200px 0 200px;
      // }
      // .box-five {
      //   margin: 180px 200px 0 200px;
      // }
      // .box-six {
      //   padding: 268px 200px 120px 200px;
      // }

      // .box-left {
      //   margin-left: 200px;
      // }
      // .box-right {
      //   margin-left: 960px;
      // }
      // .box {
      //   position: relative;
      //   background-color: #ffffff;
      //   width: 760px;
      //   height: 480px;
      //   .img-left {
      //     position: absolute;
      //     left: -760px;
      //   }
      //   .img-right {
      //     position: absolute;
      //     right: -760px;
      //   }
      //   .foot-img-one {
      //     top: 70px;
      //   }
      //   .foot-img-two {
      //     top: -68px;
      //   }
      //   .foot-img-three {
      //     top: -90px;
      //     left: 36px;
      //   }
      //   .foot-img-four {
      //     top: 68px;
      //     left: 670px;
      //   }
      //   .foot-img-five {
      //     top: 70px;
      //     left: -760px;
      //   }
      //   .foot-img-six {
      //     top: -90px;
      //     left: 670px;
      //   }
      //   .foot-box {
      //     text-align: left;
      //     padding-top: 68px;
      //     margin-left: 68px;
      //     ul {
      //       color: #333333;
      //     }
      //   }
      //   .font-box-one {
      //     padding-top: 118px;
      //     margin-left: 158px;
      //   }
      //   .foot-box-three {
      //     margin-left: 918px;
      //   }
      //   .foot-box-four {
      //     padding-top: 70px;
      //   }
      //   .foot-box-five {
      //     padding-top: 70px;
      //     margin-left: 158px;
      //   }
      //   .foot-box-six {
      //     padding-top: 60px;
      //   }
      // }
      // .box-length {
      //   width: 1520px;
      // }
      // .box-two {
      //   margin-top: 246px;
      // }
      // .box-three {
      //   margin-top: 200px;
      //   margin-left: 200px;
      // }
      // .box-four {
      //   margin-top: 178px;
      // }
      // .box-five {
      //   margin-top: 110px;
      // }
      // .box-six {
      //   margin-top: 268px;
      //   margin-left: 200px;
      // }
    }
  }
}
