.center {
  margin: 0px;
  padding: 0px;
  a {
    text-decoration: none;
  }
  .head {
    width: 100%;
    .img {
      width: 100%;
      height: 100%;
    }
  }
  .body {
    position: relative;
    color: #f2f8ff;
    .body-head {
      width: 1920px;
      height: 1844px;
      .body-title {
        margin-left: 594px;
        margin-top: 90px;
        width: 731px;
        height: 40px;
        font-size: 42px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #333333;
        line-height: 58px;
      }
      .body-banner1 {
        margin-left: 200px;
        margin-top: 68px;
        width: 1920px;
        height: 160px;
        background-color: #ffffff;
      }
      .box1 {
        position: relative;
        margin-left: 200px;
        margin-top: 22px;
        width: 1520px;
        height: 475px;
        background-image: url(../../../assets/images/solve/box1.png);
        background-repeat: no-repeat;
        .box1-img1 {
          position: absolute;
          left: 36px;
          top: 48px;
          width: 850px;
          height: 478px;
        }
        .box1-img2 {
          position: absolute;
          left: 954px;
          top: 62px;
          width: 254px;
          height: 90px;
        }
        .box1-title {
          position: absolute;
          left: 955px;
          top: 183px;
          width: 469px;
          height: 144px;
          line-height: 24px;
          font-size: 16px;
          color: #ffffff;
          font-family: Source Han Sans CN;
          font-weight: 400;
        }
        .box1-button {
          position: absolute;
          top: 374px;
          left: 954px;
          width: 128px;
          height: 40px;
          color: #227bea;
          background-color: #ffffff;
          border-radius: 20px;
          text-align: center;
          font-size: 16px;
          line-height: 40px;
        }
      }
      .body-banner2 {
        margin-top: 161px;
        margin-left: 200px;
        width: 1920px;
        height: 160px;
      }
      .box2 {
        position: relative;
        margin-top: 22px;
        margin-left: 200px;
        width: 1520px;
        height: 475px;
        background-image: url(../../../assets/images/solve/box2.png);
        background-repeat: no-repeat;
        .box2-img1 {
          position: absolute;
          left: 68px;
          top: 79px;
          width: 173px;
          height: 90px;
        }
        .box2-title {
          position: absolute;
          left: 68px;
          top: 200px;
          width: 455px;
          height: 104px;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ffffff;
          line-height: 24px;
        }
        .box2-button {
          position: absolute;
          left: 68px;
          top: 353px;
          width: 128px;
          height: 40px;
          color: #6853ff;
          background: #ffffff;
          border-radius: 20px;
          text-align: center;
          font-size: 16px;
          line-height: 40px;
        }
      }
    }
    .body-foot {
      position: relative;
      width: 1920px;
      height: 4733px;
      background-color: #f2f8ff;
      .title {
        position: absolute;
        top: 89px;
        left: 626px;
        width: 668px;
        height: 98px;
        font-size: 42px;
        font-family: Source Han Sans CN;
        font-weight: 400;
        color: #333333;
        line-height: 58px;
      }
      .foot1-1 {
        position: absolute;
        top: 325px;
        left: 200px;
        width: 850px;
        height: 478px;
        z-index: 10;
      }
      .foot1-2 {
        position: absolute;
        top: 255px;
        left: 960px;
        width: 760px;
        height: 480px;
        background-color: #ffffff;
        img {
          position: absolute;
          left: 158px;
          top: 118px;
          width: 412px;
          height: 58px;
        }
        .title {
          position: absolute;
          left: 158px;
          top: 211px;
          width: 455px;
          height: 64px;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
        }
        a {
          position: absolute;
          left: 158px;
          top: 323px;
          width: 128px;
          height: 40px;
          background-color: #23b8ff;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
          border-radius: 20px;
          text-align: center;
        }
      }
      .foot2-1 {
        position: absolute;
        top: 981px;
        left: 200px;
        width: 760px;
        height: 480px;
        background-color: #ffffff;
        img {
          position: absolute;
          left: 68px;
          top: 68px;
          width: 528px;
          height: 58px;
        }
        .title {
          position: absolute;
          left: 68px;
          top: 161px;
          width: 455px;
          height: 152px;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
        }
        a {
          position: absolute;
          left: 68px;
          top: 362px;
          width: 128px;
          height: 40px;
          background-color: #23b8ff;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
          border-radius: 20px;
          text-align: center;
        }
      }
      .foot2-2 {
        position: absolute;
        top: 913px;
        left: 870px;
        width: 850px;
        height: 478px;
        z-index: 10;
      }
      .foot3-1 {
        position: absolute;
        top: 1571px;
        left: 236px;
        width: 814px;
        height: 458px;
        z-index: 10;
      }
      .foot3-2 {
        position: absolute;
        top: 1661px;
        left: 200px;
        width: 1520px;
        height: 420px;
        background-color: #ffffff;
        img {
          position: absolute;
          left: 918px;
          top: 68px;
          width: 522px;
          height: 51px;
        }
        .title {
          position: absolute;
          left: 918px;
          top: 154px;
          width: 455px;
          height: 104px;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
        }
        a {
          position: absolute;
          left: 918px;
          top: 307px;
          width: 128px;
          height: 40px;
          background-color: #23b8ff;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
          border-radius: 20px;
          text-align: center;
        }
      }
      .foot4-1 {
        position: absolute;
        top: 2259px;
        left: 200px;
        width: 760px;
        height: 480px;
        background-color: #ffffff;
        img {
          position: absolute;
          left: 68px;
          top: 70px;
          width: 146px;
          height: 60px;
        }
        .title {
          position: absolute;
          left: 68px;
          top: 165px;
          width: 495px;
          height: 152px;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
        }
        a {
          position: absolute;
          left: 68px;
          top: 366px;
          width: 128px;
          height: 40px;
          background-color: #23b8ff;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
          border-radius: 20px;
          text-align: center;
        }
      }
      .foot4-2 {
        position: absolute;
        top: 2191px;
        left: 870px;
        width: 850px;
        height: 478px;
        z-index: 10;
      }
      .foot5-1 {
        position: absolute;
        top: 2919px;
        left: 200px;
        width: 850px;
        height: 478px;
        z-index: 10;
      }
      .foot5-2 {
        position: absolute;
        top: 2849px;
        left: 960px;
        width: 760px;
        height: 480px;
        background-color: #ffffff;
        img {
          position: absolute;
          left: 158px;
          top: 70px;
          width: 273px;
          height: 60px;
        }
        .title {
          position: absolute;
          left: 158px;
          top: 165px;
          width: 460px;
          height: 152px;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
        }
        a {
          position: absolute;
          left: 158px;
          top: 366px;
          width: 128px;
          height: 40px;
          background-color: #23b8ff;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
          border-radius: 20px;
          text-align: center;
        }
      }
      .foot6-1 {
        position: absolute;
        top: 3597px;
        left: 200px;
        width: 1520px;
        height: 420px;
        background-color: #ffffff;
        img {
          position: absolute;
          left: 68px;
          top: 60px;
          width: 261px;
          height: 56px;
        }
        .title {
          position: absolute;
          left: 68px;
          top: 151px;
          width: 455px;
          height: 128px;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #333333;
          line-height: 24px;
        }
        a {
          position: absolute;
          left: 68px;
          top: 327px;
          width: 128px;
          height: 40px;
          background-color: #23b8ff;
          font-size: 16px;
          font-family: Source Han Sans CN;
          font-weight: 400;
          color: #ffffff;
          line-height: 40px;
          border-radius: 20px;
          text-align: center;
        }
      }
      .foot6-2 {
        position: absolute;
        top: 3507px;
        left: 870px;
        width: 814px;
        height: 458px;
      }
    }
    .foot {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 1920px;
      height: 475px;
    }
  }
}
