.musicList {
  .el-dialog {
    width: 670px !important;
    .el-dialog__header {
      padding: 18px 24px;
      border-bottom: 1px solid #ddd;
    }
    .el-dialog__body {
      padding: 30px 40px;
    }
  }
  .header-title {
    display: flex;
    p {
      font-size: 16px;
      font-family: "Source Han Sans CN";
      color: #333333;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .select {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
    .el-select {
      width: 160px;
      margin-right: 8px;
      .el-input__inner {
        height: 36px;
        line-height: 36px;
      }
    }
    .search {
      width: 254px;
      .el-input__inner {
        height: 36px;
        line-height: 36px;
      }
      i {
        cursor: pointer;
      }
    }
  }
  .table {
    width: 590px;
    .th {
      width: 100%;
      height: 42px;
      line-height: 42px;
      background-color: #F6F6F6;
      display: flex;
      font-weight: 700;
      span {
        color: #999999;
        font-size: 14px;
        &:first-child {
          width: 60px;
          margin-left: 60px;
        }
        &:nth-of-type(2) {
          margin-right: 204px;
        }
        &:nth-of-type(3) {
          margin-right: 104px;
        }
      }
    }
    .body {
      height: 414px;
      max-height: 414px;
      overflow-y: auto;
      &::-webkit-scrollbar {
        width: 8px;
        height: 2px;
        background: transparent;
      }
      &::-webkit-scrollbar-thumb {
        height: 1px;
        border-radius: 3px;
        background: #DDDDDD;
      }
      .list {
        height: 50px;
        line-height: 50px;
        display: flex;
        align-items: center;
        position: relative;
        border-bottom: 1px solid #EAEAEA;
        cursor: pointer;
        &::before {
          content: "";
          display: inline-block;
          position: absolute;
          top: 17px;
          left: 40px;
          width: 16px;
          height: 16px;
          border-radius: 50%;
          border: 1px solid #DDDDDD;
        }
        &.active {
          &::before {
            opacity: 0;
          }
          .checkbox {
            opacity: 1;
          }
        }
        .checkbox {
          width: 20px;
          margin-left: 40px;
          margin-right: 60px;
          font-size: 20px;
          opacity: 0;
          color: #09bb07;
          margin-top: 2px;
        }
        span {
          color: #000;
          font-size: 14px;
          text-align: left;
        }
        .play {
          color: #19A0F1;
          i {
            font-size: 16px;
            position: relative;
            top: 1px;
          }
          span {
            color: #19A0F1;
            margin-left: 6px;
          }
        }
        .musicName {
          width: 220px;
          margin-right: 40px;
          overflow: hidden;
          text-overflow:ellipsis;
          white-space: nowrap;
        }
        .time {
          width: 40px;
          margin-right: 92px;
        }
      }
      .tips {
        text-align: center;
        margin-top: 15px;
        font-size: 14px;
      }
    }
  }
}